<div class="row">
    <div class="col-6">
        
        <div class="accordion" id="accordionExample">
                <div class="card">
                    <div class="card" id="headingOne" data-toggle="collapse" data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                       
						
                            <div class="alert alert-success" role="alert">
                                <h4 class="alert-heading">Well done!</h4>
                                <p>Aww yeah, you successfully read this important alert message. This example text is going to run a bit longer so that you can see how spacing within an alert works with this kind of content.</p>
                                <hr>
                                <p class="mb-0">Whenever you need to, be sure to use margin utilities to keep things nice and tidy.</p>
                              </div>

                      
                    </div>
                
                    <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
                    <div class="card-body">
                            <div class="card">
                                    <div class="card-body">
                                        <h4 class="card-title">Special title treatment</h4>
                                        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                                        <button type="button" class="btn btn-success" style="margin-right: 10px">Print</button>
                                        <button type="button" class="btn btn-info">Edit</button>
                                    </div>
                            </div>
                    </div>
                    </div>
                </div>


                <div class="card">
                    <div class="card" id="headingTwo" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
						
                        <div class="alert alert-success" role="alert">
                            <h4 class="alert-heading">Well done!</h4>
                            <p>Aww yeah, you successfully read this important alert message. This example text is going to run a bit longer so that you can see how spacing within an alert works with this kind of content.</p>
                            <hr>
                            <p class="mb-0">Whenever you need to, be sure to use margin utilities to keep things nice and tidy.</p>
                          </div>
                          
                    </div>
                    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
                    <div class="card-body">
                            <div class="card">
                                    <div class="card-body">
                                        <h4 class="card-title">Prescription</h4>
                                        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                                        <button type="button" class="btn btn-success" style="margin-right: 10px">Print</button>
                                        <button type="button" class="btn btn-info">Edit</button>
                                    </div>
                            </div>
                    </div>
                    </div>
                </div>
        </div>
             
    </div>
</div>