<div class="row">
	<div class="col-6">
			<div class="button-group">
				<button class="btn btn-success" (click) = "clearSelectedPatient()">Add Patient</button>
				<!-- if there is a selected patient show this button -->
				<button class="btn btn-warning" *ngIf="selectedPatient">Edit</button>	
				<button class="btn btn-primary" *ngIf="selectedPatient">Give Service</button>	
				
			</div>
			
	
	</div>

</div>

<br>
<div class="row">
		
    <div class="col-6">
        <div class="card">
						
			<div class="card-body">
				<form class="form-inline my-2 my-lg-0">
					<input class="form-control mr-sm-2" type="search" placeholder="Search for.." aria-label="Search">
					<button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
				</form>
			</div>
				<ul class="list-group" *ngFor="let patient of patients" >
			
					<div class="list-group-item list-group-item-action media " 
						[ngClass]="{'active':patient.nic==selectedNic}"
						(click) = "onClickSelectPatient(patient)"
						>{{patient.name}}
						
						<!-- <span class="pull-right badge badge-pill badge-{{patient.gender=='Male' ? 'success':'warning'}}">{{patient.gender=='Male'?'M':'F'}}</span> -->
						<span class=" pull-right summary" >{{patient.nic}}</span>
						
						<a class="pull-left">
							<div>
							<img src="assets/images/users/{{patient.gender=='Male' ? 'male':'female'}}_patient.png" class="media-photo">
							</div>	
						</a>
					
					</div>
						
				</ul>	
			</div>
	</div>

	<div class="col-6">
		
		<app-viewpatient *ngIf="selectedPatient" [patient]="selectedPatient"> </app-viewpatient>
		<app-add-patient *ngIf="addpatient" [patientViewComp]="this"> </app-add-patient>
		
	</div>
	
</div>